* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 600px; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(10, 10, 59);
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    gap: 15px;
    padding: 20px; 
}
main>section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    text-align: start;
    font-size: 16px;
}
main>h1{
    font-size:24px;
}
main>section>input{
    padding: 8px 10px;
    border-radius: 2px;
}
main>section>button{
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(10,10,59);
    border: none;
    color: white;
}